  
services:
  app:
    image: medilink
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      DJANGO_SETTINGS_MODULE: config.settings
    depends_on:
      postgrest:
        condition: service_healthy
  db:
    image: postgres:17
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./db/init:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -h localhost -p 5432 -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 3s
      retries: 10
    restart: unless-stopped
  postgrest:
    image: postgrest/postgrest:latest
    ports:
      - "3000:3000"
    volumes:
      - ./postgrest/postgrest.conf:/etc/postgrest.conf:ro
    command: postgrest /etc/postgrest.conf
    depends_on:
      db:
        condition: service_healthy
    healthcheck:
      test:  ["CMD-SHELL", "pgrep postgrest > /dev/null"]
      interval: 10s
      timeout: 3s
      retries: 5
  redis:
    image: redis:7
    ports:
      - "6379:6379"
    environment:
      REDIS_PASSWORD: ${redis_password}
    command:
      ["redis-server", "--appendonly", "yes", "--requirepass", "${redis_password}"]
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "${redis_password}", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
    ports:
      - "5050:80"
    depends_on:
      db:
        condition: service_healthy

volumes:
  db_data:
  redis_data:
